html, body {
  min-height: 100%; }

body {
  background: #f7f9fa;
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0; }

.info-widget {
  background: white;
  position: absolute;
  top: 5%;
  right: 0;
  padding: 15px;
  z-index: 1;
  border-radius: 5px; }
  .info-widget div {
    margin: 5px 0; }

.info-widget.show {
  right: 0;
  transition: right .2s linear; }

.wrapper {
  background: white;
  margin: 5% 10%;
  display: flex;
  flex-direction: column; }
  .wrapper input {
    border: none;
    background: #f7f9fa;
    padding: 20px;
    min-width: 300px;
    margin: 5% 10% 0 10%;
    font-size: 22px;
    color: #414141; }
    .wrapper input::placeholder {
      opacity: .8; }
  .wrapper .todo-wrapper {
    background: #f7f9fa;
    margin: 5% 10%;
    flex: 1; }
    .wrapper .todo-wrapper .todo:first-of-type {
      margin-top: 5%; }
    .wrapper .todo-wrapper .todo:last-of-type {
      margin-bottom: 5%; }
    .wrapper .todo-wrapper .todo {
      background: white;
      margin: 4px 10%;
      border: 1px solid rgba(0, 0, 0, 0.2);
      padding: 15px; }
