html, body {
    min-height: 100%;
}

body {
    background: #f7f9fa;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.info-widget {
    background: white;
    position: absolute;
    top: 5%;
    right: 0;
    padding: 15px;
    z-index: 1;
    border-radius: 5px;

    div {
        margin: 5px 0;
    }
}

.info-widget.show {
    right: 0;
    transition: right .2s linear;
}

.wrapper {
    background: white;
    margin: 5% 10%;
    display: flex;
    flex-direction: column;

    input {
        border: none;
        background: #f7f9fa;
        padding: 20px;
        min-width: 300px;
        margin: 5% 10% 5% 10%;
        font-size: 22px;
        color: #414141; 

        &::placeholder {
            opacity: .8;
        }
    }

    .todo-wrapper {
        background: #f7f9fa;
        margin: 0 10% 5% 10%;
        flex: 1;

        .todo:first-of-type {
            margin-top: 5%;
        }

        .todo:last-of-type {
            margin-bottom: 5%;
        }

        .todo {
            background: white;
            margin: 4px 10%;
            border: 1px solid rgba(0, 0, 0, 0.2);
            padding: 15px;
        }
    }

    .todo-wrapper[hide] {
        display: none;
    }

    .todo-wrapper[show] {
        display: block;
    }
}



